<!DOCTYPE html>
<html>
<head>
  <title>SearchBattle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

  <nav class="navbar navbar-default">
    <h3>SearchBattle</h3>
    <div class="searchbar">
      <div class="input-group">
        <input type="text" class="form-control" id="search_input" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" id="search_button" type="button">GO!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /searchbattle -->
  </nav><!-- /top -->
  <div id="result"></div>
  <%= yield %>

  <script type="text/javascript">
    $( "#search_button" ).click(function() {
      value = $("#search_input").val();
      alert(value);

      $.ajax({
        url: '/search' ,
        type: 'get',
        data: {
          param: value
        },
        success: function(data){
          $("#result").html(data);
        },
        error: function(jqXHR,  errorThrown){
        }
      });
    });
  </script>

</body>
</html>
